html, body, div, header, article, footer, h1, h2, ul, li, p { 
	margin: 0;
	padding: 0;
}

body {
	font-family: Georgia, serif;
	color: #000000;
	font-size: 62.5%;
	background-color: #ffffff;
}

#wrapper {
	margin: 30px;
	padding: 30px;
	width: 1286px;
	font-size: 3.3em;
	border-radius: 25px;
	box-shadow: 0 5px 10px #cccccc;
}

	h1 {
		padding: 90px 0 90px 0;
		font-size: 2em;
	}
	article {
		padding-bottom: 50px;
	}

		article h2 {
			font-size: 1em;
			font-weight: normal;
		}
		
		article ul {
			list-style-type: none;
		}
			article ul li {
				padding-top: 0.5em;
			}			

			article ul li:before {
				padding-right: 0.3em;
				content: "–";
			}

	footer  {
		padding-top: 50px;
	}